<p [appHighlight]="'green'"> hello-world works!</p>
<h3>One way binding</h3>
<p>Ma variable vaut : {{variable}}</p>
<p>Ma fonction retourne : {{affichage()}}</p>
<h3 [ngClass]="{pretty : true}">Two way binding</h3>
<input type="text" [(ngModel)]="champs">
<h3>Selector's Binding (Only in HTML).</h3>
<div #myDiv>Mon message :</div>
<p>Affichage du contenu de ma div 1 : {{myDiv.innerText}}</p>
<p>Affichage du contenu de ma div 2 : {{afficheDiv(myDiv)}}</p>
<input type="text" [(ngModel)]="color">
<div [style.background-color]="color">Style 1</div>
<div [ngStyle]="{'color': color}">Style 2</div>
<h3>Boucle FOR</h3>
<ul>
  <li *ngFor="let value of [1,2,3,4,5,6]" [hidden]="value%2===0">{{value}}</li>
</ul>
<button (click)="incr()">INCREMENTER</button> {{incrementation}}
