<h1>Formation Trakk Angular 2020</h1>
<nav>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/hello-world">Hello World</a></li>
    <li><a routerLink="/stock">Stock</a></li>
    <li><a routerLink="/shopping/1">Shop</a></li>
    <li><a routerLink="/shopping-list">Shopping List</a></li>
    <li><a routerLink="/communication">Communication</a></li>
  </ul>
</nav>
<router-outlet>
</router-outlet>
<!--<app-hello-world></app-hello-world>-->
<!--<app-exercice1></app-exercice1>-->
<!--<app-stock></app-stock>-->
