.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

li {
  text-align: center;
  padding:0;
  width: 100%;
}

a {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  color: #004d40;
  //border-bottom: 3px #b2dfdb solid;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  margin-bottom: 2px;
  background-color: #f3e5f5;
  width: 100%;
  border-left: 0;

}

router-outlet {
  padding: 0.7em;
}

nav {
  max-width: 170px;
  display: inline-block;
  box-shadow: none;
  -webkit-box-shadow: none;
  position: absolute;
  top:0;
  left:0;
  margin: auto 0;
}

header h1 {
  text-align: center;
  color: #004d40;
  font-weight: 900;
}
h1,h2,h3,h4,h5,h6, a {
  font-family: 'Roboto Slab', serif;
  font-variant: all-small-caps;
}
nav ul a:hover {
  background-color: #ba68c8;
}
